{% extends "core/home.html" %}
{% load static %}
{% load tournament_extras %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "tournament/teams/team_page.css" %}">

    <style>
        .table-stat td {
            padding: .3rem;
        }

        .event-time {
            font-family: "JetBrains Mono", Arial, monospace;
        }
    </style>
{% endblock %}
{% block scripts %}
    <!-- Аякс-скрипт проставления лайков-дизлайков к постам -->
    <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>
{% endblock %}
{% block title %}Чемпионат | {{ match }}          cis-haxball.com {% endblock %}

{% block profile_of_user %}
    <div class="card mb-4 mt-2" style="border-radius: 25px">
        <div class="card-header text-center" style="border-radius: 25px">

            <h5>
                <a href="{{ match.league.get_absolute_url }}">{{ match.league }}</a>
            </h5>
            <h5>Тур {{ match.numb_tour.number }}</h5>
            <div class="row">

                <div class="col-5 px-0">
                    <a class="h4 text-dark"
                       href="{{ match.team_home.get_absolute_url }}">{{ match.team_home.title }}</a>
                </div>
                <div class="col-2 p-0">

                </div>
                <div class="col-5 px-0">
                    <a class="h4 text-dark"
                       href="{{ match.team_guest.get_absolute_url }}">{{ match.team_guest.title }}</a>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="row">
                <div class="col-5">
                    <img src="{{ match.team_home.logo.url }}" alt="{{ match.team_home.title }}" width="60%">


                </div>
                <div class="col-2 px-0">
                    <div class="mt-5">
                        {% if match.is_played %}
                            <h3 class="font-weight-bold">{{ match.score_home }}
                                : {{ match.score_guest }}</h3>
                            <h6 class="mt-3">{{ match.match_date|date:"SHORT_DATE_FORMAT" }}</h6>
                        {% else %}
                            <h3>vs</h3>
                        {% endif %}

                    </div>
                </div>
                <div class="col-5">
                    <img src="{{ match.team_guest.logo.url }}" alt="{{ match.team_guest.title }}" width="60%">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div>
                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample" {% if no_history %}disabled{% endif %}>

                                {% if no_history %}Команды ранее не встречались{% else %}История встреч{% endif %}

                            </button>
                        </p>
                    </div>
                </div>
                <div class="collapse w-100" id="collapseExample">
                    <div class="row mb-2">
                        <div class="col-12">

                            <div class="progress" style="height: 35px;">
                                <div class="progress-bar bg-success justify-content-center" role="progressbar"
                                     style="width: {{ win_home_percentage }}%"
                                     aria-valuenow="{{ win_home_percentage }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div>
                                        <img src="{{ match.team_home.logo.url }}" alt="{{ match.team_home.title }}"
                                             width="25px">
                                        {{ win_home_percentage }}% ({{ win_home }})
                                    </div>
                                </div>
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ draws_percentage }}%"
                                     aria-valuenow="{{ draws_percentage }}"
                                     aria-valuemin="0" aria-valuemax="100">

                                    <div>
                                        <img src="{% static 'img/ico/equals_icon.png' %}" alt="equals"
                                             width="25px">
                                        {{ draws_percentage }}% ({{ draws }})
                                    </div>
                                </div>
                                <div class="progress-bar bg-primary" role="progressbar"
                                     style="width: {{ win_guest_percentage }}%"
                                     aria-valuenow="{{ win_guest_percentage }}"
                                     aria-valuemin="0" aria-valuemax="100">

                                    <div>
                                        <img src="{{ match.team_guest.logo.url }}" alt="{{ match.team_guest.title }}"
                                             width="25px">
                                        {{ win_guest_percentage }}% ({{ win_guest }})
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div>
                                <h6 class="mb-0">Матчи</h6>
                                <h4 class="text-warning">{{ all_matches_between.count }}</h4>
                                <h6>Самый результативный матч: <a
                                        href="{{ the_most_score.get_absolute_url }}">
                                    <img
                                            src="{{ the_most_score.team_home.logo.url }}"
                                            alt="{{ the_most_score.team_home.title }}"
                                            width="20px">
                                    {{ the_most_score.score_home }}-{{ the_most_score.score_guest }}
                                    <img
                                            src="{{ the_most_score.team_guest.logo.url }}"
                                            alt="{{ the_most_score.team_guest.title }}" width="20px">
                                </a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-8">
                            <table class="table table-borderless table-stat">
                                <tbody>
                                <tr>
                                    <td>Побед</td>
                                    <td class="font-weight-bold">{{ win_home }}</td>
                                    <td class="font-weight-bold">{{ win_guest }}</td>
                                </tr>
                                <tr>
                                    <td>Забитых мячей</td>
                                    <td class="font-weight-bold">{{ score_home_all }}</td>
                                    <td class="font-weight-bold">{{ score_guest_all }}</td>
                                </tr>
                                <tr>
                                    <td>В среднем за матч</td>
                                    <td class="font-weight-bold">{{ score_home_average }}</td>
                                    <td class="font-weight-bold">{{ score_guest_average }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            {% if match.is_played %}

                <div class="row justify-content-center mb-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="squad-tab" data-toggle="tab" href="#start_squad" role="tab"
                               aria-controls="start_squad-tab" aria-selected="true">Общая сводка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail_stat" role="tab"
                               aria-controls="detail_stat-tab" aria-selected="false">Протокол</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="info_about" data-toggle="tab" href="#info" role="tab"
                               aria-controls="info-tab" aria-selected="false" style="width: 164px">Информация</a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="tab-content start_squad" id="myTabContent">
                <div class="tab-pane fade show active" id="start_squad" role="tabpanel"
                     aria-labelledby="start_squad-tab">

                    <h5>Стартовые составы</h5>
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-4">
                            {% include "tournament/include/players_stats_summary.html" with players=match.team_home_start.all %}
                        </div>
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-4">
                            {% include "tournament/include/players_stats_summary.html" with players=match.team_guest_start.all %}
                        </div>

                    </div>
                    {% if team_home_substitutes|length > 0 or team_guest_substitutes|length > 0 %}
                        <h5>Замены</h5>
                        <div class="row">
                            <div class="col-sm-1">

                            </div>
                            <div class="col-sm-4">
                                {% include "tournament/include/players_stats_summary.html" with players=team_home_substitutes %}
                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-4">
                                {% include "tournament/include/players_stats_summary.html" with players=team_guest_substitutes %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="detail_stat" role="tabpanel" aria-labelledby="detail_stat-tab">
                    {% with events_by_time=match|events_sorted %}
                        <h4 class="mb-2">1 тайм</h4>
                        {% include "tournament/include/match_events.html" with events=events_by_time.first_time %}

                        <h4 class="mb-2">2 тайм</h4>
                        {% include "tournament/include/match_events.html" with events=events_by_time.second_time %}

                        {% if events_by_time.extra_time|length > 0 %}
                            <h4>Доп. время</h4>
                            {% include "tournament/include/match_events.html" with events=events_by_time.extra_time %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="row">
                        <div class="col-12">
                            <h6>
                                {% if not match.replay_link_second %}
                                    <a href="{{ match.replay_link }}">Реплей</a>
                                {% else %}
                                    <a href="{{ match.replay_link }}">Реплей 1</a><br>
                                    <a href="{{ match.replay_link_second }}">Реплей 2</a>
                                {% endif %}
                            </h6>
                            <h6>
                                Инспектор: {{ match.inspector }}
                            </h6>
                            {% if match.comment %}
                                <h6>Комментарий:</h6>
                                <p>{{ match.comment|linebreaks }}</p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block comments %}
    {% include 'core/include/new_comments.html' with object=match comments=comments %}
{% endblock %}
