{% load user_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/include/like_dislike_comment.css' %}">
{% endblock %}


<ul class="list-group list-group-horizontal-md d-inline-flex">
    {% if user.is_authenticated and user.user_profile.can_vote %}
        <li class="action-like fa fa-thumbs-up {% if comment.votes.likes.all|user_in:user %}text-success{% endif %}"
            data-id="{{ comment.id }}"
            data-type="comment" data-action="like" id="lcomment{{ comment.id }}">

            <span data-count="like">{{ comment.votes.likes.count }}</span>
        </li>

        <li class="action-dislike fa fa-thumbs-down {% if comment.votes.dislikes.all|user_in:user %}text-danger{% endif %}"
            data-id="{{ comment.id }}"
            data-type="comment" data-action="dislike" id="dcomment{{ comment.id }}">

            <span data-count="dislike">{{ comment.votes.dislikes.count }}</span>
        </li>
    {% elif user.is_authenticated and not user.user_profile.can_vote %}
        <li class="action-like fa fa-thumbs-up" onclick="alert('Вам ограничен доступ к лайкам/дизлайкам!')">
            <span data-count="like">{{ comment.votes.likes.count }}</span>
        </li>

        <li class="action-dislike fa fa-thumbs-down" onclick="alert('Вам ограничен доступ к лайкам/дизлайкам!')">
            <span data-count="dislike">{{ comment.votes.dislikes.count }}</span>
        </li>
    {% else %}
        <li class="action-like fa fa-thumbs-up" data-toggle="modal" data-target="#loginModal" style="cursor: pointer">
            <span data-count="like">{{ comment.votes.likes.count }}</span>
        </li>

        <li class="action-dislike fa fa-thumbs-down" data-toggle="modal" data-target="#loginModal" style="cursor: pointer">

            <span data-count="dislike">{{ comment.votes.dislikes.count }}</span>
        </li>
    {% endif %}

    {% if comment.votes.likes.count > 0 or comment.votes.dislikes.count > 0 %}
        {% if comment|can_view_likes_details:user %}
            <li class="like-stats-button fa fa-list" data-toggle="modal" data-target="#popupLikeDislike-{{comment.id}}">
                <span data-count="like"></span>
            </li>
        {% endif %}
    {% endif %}

</ul>