{% extends "base.html" %}
{% load static %}
{% load cache %}

{% load account %}
{% load i18n %}
{% load user_tags %}
{% load polls_extras %}
{% block title %}Добро пожаловать на cis-haxball.com! {% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/include/popup_likes_styles.css' %}">
{% endblock %}


{% block content %}


    <div class="container-fluid justify-content-center">
        <div class="row" style="max-width: 1600px; position: relative; margin: 0 auto;">
            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-xl-1 order-lg-2 order-md-2 order-sm-2 my-2 px-1">
                {% block sidebar_users %}
                    {% show_users_online %}
                {% endblock %}
                <div class="card mt-1 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header mb-0 py-1 justify-content-center bg-for-online-head text-center"
                         style="border-radius: 20px 20px 0px 0">
                        <h5 style="text-decoration: underline">Медиа</h5>
                    </div>
                    <div class="card-body p-0 bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width: inherit; padding: 5%">
                        <div class="d-flex justify-content-center">
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://www.youtube.com/@cis-haxball" target="_blank" class="m-0 p-0">
                                    <img src="{% static 'img/ico/youtube.PNG' %}" title="youtube"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://www.twitch.tv/cis_haxball" target="_blank" class="m-0 p-0" >
                                    <img src="{% static 'img/ico/twitch.PNG' %}" title="twitch"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://t.me/+GRxpyqeJKosxODQy" target="_blank" class="m-0 p-0">
                                    <img src="{% static 'img/ico/tg.png' %}" title="tg"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://www.tiktok.com/@cishaxball3" target="_blank" class="m-0 p-0">
                                    <img src="{% static 'img/ico/tiktok.png' %}" title="tiktok"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% polls_list 2 user %}

                <div class="card">
                    <iframe src="https://discord.com/widget?id=710289992160772197&theme=dark" width="100%" height="240" allowtransparency="true"
                            frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
                    </iframe>
                </div>
                <div class="card mt-1">
                    <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&default-sum=500&button-text=12&payment-type-choice=on&successURL=https%3A%2F%2Fwww.cis-haxball.com%2F&quickpay=shop&account=4100118530893229&targets=%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%20%D0%BF%D0%BE%20%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B5&"
                            width="100%" height="195" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                </div>

            </div>
            <div class="col-8 main-col col-xl-8 col-lg-12 col-md-12 col-sm-12 mx-0 order-xl-2 order-md-1 order-sm-1 order-lg-1 px-1">

                <!-- Всплывающее окно просмотра лайков -->
                {% include 'core/include/popul_like_view.html' %}

                <!-- Всплывающее окно входа на сайт -->
                {% include 'core/include/login_logout_modal/log_out_modal.html' %}

                <!-- Всплывающее окно выхода с сайта -->
                <div class="modal" id="logoutModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Хотите выйти?</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Да</button>
                                </form>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
                            </div>
                        </div>
                    </div>
                </div>


                {# Блок для отображение профиля пользователя #}
                {% block profile_of_user %}
                {% endblock %}

                {# Блок для отображение одного поста, пост-детейл #}
                {% block post %}
                {% endblock %}

                {# Блок для списка постов #}
                {% block postlist %}
                {% endblock %}

                {# Блок для отображение списка комментариев #}
                {% block comments %}
                {% endblock %}

            </div>
            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-3 order-xl-3 order-sm-3 px-1">

                {% block sidebar_last_activity %}
                    {% show_last_activity 10 %}
                {% endblock %}

                {% block sidebar_top_comments %}
                    {% show_top_comments 5 %}
                {% endblock %}

            </div>
        </div>
    </div>


{% endblock %}

