{% extends "core/home.html" %}
{% load static %}
{% load tournament_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'tournament/disqualification/disqualifications_list.css' %}">

{% block title %}Дисквалификации {% endblock %}
{% block profile_of_user %}
    <div class="card mb-2 mt-2" style="border-radius: 10px">
        <h2 class="text-center my-2">
            <i class="fa fa-ban text-danger" aria-hidden="true"></i>Дисквалификации
        </h2>
        <div class="container-fluid p-0 mx-0">
            <form method="get">
                {{ filter.form }}
                <button style="visibility: none;">Применить фильтр</button>
            </form>
                            {{ filter.form.render }}
            <div class="table-fix table-responsive">
                <table class="table table-hover" style="max-width: 100%">
                    <thead class="thead-dark py-2 text-left">
                    <tr>
                        <th scope="col">Команда</th>
                        <th scope="col">Игрок</th>
                        <th scope="col" width="140px">Матч</th>
                        <th scope="col">Причина дисквалификации</th>
                        <th scope="col">Распостраняется на</th>
                        <th scope="col">Снята</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for disqualification in filter.qs %}
                        <tr>
                            <td class="disqualification-row pl-2 pr-1">
                                <div class="media">
                                    <img src="{{ disqualification.team.logo.url }}" class="align-self-start mr-1"
                                         alt="{{ disqualification.team.title }}" width="20" style="border-radius: 100%">
                                    <div class="media-body">
                                        <h6 class="mt-0" style="font-size: 13px">
                                            <a href="{{ disqualification.team.get_absolute_url }}">{{ disqualification.team.title }}</a>
                                        </h6>
                                    </div>
                                </div>
                            </td>

                            <td class="disqualification-row pl-2 pr-1">
                                <div class="media">
                                    <img src="{{ disqualification.player.name.user_profile.avatar.url }}" class="align-self-start mr-1"
                                         alt="{{ disqualification.player.nickname }}" width="20" height="20" style="border-radius: 100%; background-position: center center; background-repeat: no-repeat;">
                                    <div class="media-body">
                                        <h6 class="mt-0" style="font-size: 13px">
                                            <a href="{{ disqualification.player.name.user_profile.get_absolute_url }}">{{ disqualification.player }}</a>
                                        </h6>
                                    </div>
                                </div>
                            </td>

                            <td class="disqualification-row pl-2 pr-1">
                                <div class="media">
                                    <img src="{{ disqualification.match.team_home.logo.url }}" class="align-self-start mr-1"
                                         alt="{{ disqualification.match.team_home }}" width="20" style="border-radius: 100%">
                                    <h6 class="mt-0" style="font-size: 13px">
                                        <a href="{{disqualification.match.get_absolute_url}}">{{disqualification.match.team_home.short_title}}-{{disqualification.match.team_guest.short_title}}</a>
                                    </h6>
                                    <img src="{{ disqualification.match.team_guest.logo.url }}" class="ml-1"
                                         alt="{{ disqualification.match.team_guest }}" width="20" style="border-radius: 100%">
                                </div>
                            </td>

                            <td class="disqualification-row">
                                <div style="width: 100%; font-size: 13px; text-align: left;">{{ disqualification.reason }}</div>
                            </td>
                            <td class="disqualification-row">
                                <div style="font-size: 13px">
                                    {% for tour in disqualification.tours.all %}
                                        {{ tour }}<br>
                                    {% endfor %}
                                </div>
                            </td>

                            <td class="disqualification-row">
                                <div style="font-size: 13px">
                                    {% if disqualification.lifted_tours.count == 0 %}
                                        Нет
                                    {% elif disqualification.tours.count == disqualification.lifted_tours.count %}
                                        Да
                                    {% else %}
                                        Частично<br>
                                        {% for tour in disqualification.lifted_tours.all %}
                                            {{ tour }}<br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}