{% load static %}
{% load tournament_extras %}

{% if event.team == team and event.event != 'OG' or event.team != team and event.event == 'OG' %}
    {% if event.event == 'CLN' %}
        <h6><img src="{% static 'img/ico/clean_sheet1.png' %}" height="20" width="20"
                 title="Сухой тайм"> {{ event.author }}</h6>
    {% elif event.event == 'YEL' %}
        <h6><img src="{% static 'img/ico/yellow_card.png' %}" height="20" width="20"
                 title="Жёлтая"> {{ event.author }}</h6>
    {% elif event.event == 'RED' %}
        <h6><img src="{% static 'img/ico/red_card.png' %}" height="20" width="20"
                 title="Красная"> {{ event.author }}</h6>
    {% elif event.event == 'OG' %}
        <h6><img src="{% static 'img/ico/ball_2_og.png' %}" height="16" width="16"
             title="Автогол" class="mr-1 mb-1"> {{ event.author }}</h6>
    {% elif event.player_out %}
        <h6>
            <i class="fa fa-arrow-up text-success" title="Игрок вышел"
               aria-hidden="true"
               style="font-size: 16px"></i>
            <span class="mr-1">{{ event.player_in }}</span>
            <i class="fa fa-arrow-down text-danger" title="Игрок ушёл"
               aria-hidden="true"
               style="font-size: 16px"></i>
            {{ event.player_out }}
        </h6>
    {% else %}
        <h6>
            <img src="{% static 'img/ico/ball_2.png' %}" height="16" width="16"
                 title="Гол" class="mr-1 mb-1">
            {{ event.author }}
            {% if event.assistent %}
                <img src="{% static 'img/ico/boot_ass_2.png' %}" class="ml-1"
                     height="20" width="20"
                     title="Голевые передачи">
                {{ event.assistent }}{% endif %}
        </h6>
    {% endif %}
{% endif %}