{% load static %}
{% load tournament_extras %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "tournament/include/player_stats_summary.css" %}">
{% endblock %}

<table class="table table-borderless">
    <tbody>
    {% for player in players %}
        <tr>
            <td class="text-left px-0" width="65px">
                <span style="width: 45px">
                    {% if player.id in time_played_by_player %}
                        <span class="player-stats mt-3">({{time_played_by_player|get:player.id}})</span>
                    {% endif %}
                </span>
            </td>
            <td class="text-left px-1" width="24px">
                <img class="my-1 mx-1" src="{{ player.player_nation.flag.url }}" width="24" height="24"
                     title="{{ player.player_nation.country }}">
            </td>
            <td class="text-left pl-0 font-weight-bold">
                {% if player.name %}
                    <a class="text-dark mr-1"
                       href="{{ player.name.user_profile.get_absolute_url }}">{{ player }}</a>
                {% else %}
                    <span class="text-secondary mr-1">{{ player }}</span>
                {% endif %}

                <span class="player-stats ml-1">
                    {% if player.id in clean_sheets_by_player %}
                        <div class="player-stats-container">
                            <img class="player-stats-icon" src="{% static 'img/ico/clean_sheet1.png' %}" title="Сухой тайм">
                            {% if clean_sheets_by_player|get:player.id > 1 %}
                                <span class="player-stats-count">x{{clean_sheets_by_player|get:player.id}}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if player.id in goals_by_player %}
                        <div class="player-stats-container">
                            <img class="player-stats-icon" src="{% static 'img/ico/ball_2.png' %}" title="Гол">
                            {% if goals_by_player|get:player.id > 1 %}
                                <span class="player-stats-count">x{{goals_by_player|get:player.id}}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if player.id in assists_by_player %}
                        <div class="player-stats-container">
                            <img class="player-stats-icon" src="{% static 'img/ico/boot_ass_2.png' %}" title="Голевая передача">
                            {% if assists_by_player|get:player.id > 1 %}
                                <span class="player-stats-count">x{{assists_by_player|get:player.id}}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>